Library/
Bild/
Assets/Other.meta
Assets/Other/2D_Background_SunshineForest/2D_Horizontal_battle_Enviroment_05/2436_1125.meta
Assets/Other/2D_Background_SunshineForest/2D_Horizontal_battle_Enviroment_05/Get full backgrounds pack.txt
Assets/Other/2D_Background_SunshineForest/2D_Horizontal_battle_Enviroment_05/2436_1125/DemoScene.meta
Assets/Other/2D_Background_SunshineForest/2D_Horizontal_battle_Enviroment_05/
Assets/Other/
